main {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  align-items: center;
}
main div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main div span {
}
section {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 20px;
  /* justify-items: center; */
  justify-content: center;
  font-weight: 600;
}
.day {
  background-color: #f6fcf6;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #044275;
}
.today {
  background-color: skyblue;
}
.week {
  background-image: linear-gradient(0deg, #e8eff1, white);
  border-radius: 15px;
}
.other {
  background-color: #fefffe;
  color: #9bbfdd;
}
